---
import PageLayout from "../../layouts/PageLayout.astro";
import TagList from "../../components/TagList.astro";
---

<PageLayout
  title="Tags"
  description="The tags from the blog."
>
  <h2>Tags</h2>
  <TagList tags="all" />
</PageLayout>
