---
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import heroImage from "../../public/banner.webp";
---

<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Image
    width={668}
    src={heroImage}
    alt="Mindspark"
  />
  <p>
    Genealogie van de familie Hoofman, van de 18de eeuw tot vandaag.
  </p>
  <p>
    Startpunten:
    <ul>
      <li>Familie Hoofman: <a href="/entity/i00005/">Petrus Johannes Hoofman</a> (mijn opa aan vaderszijde)</li>
      <li>Familie Walters: <a href="/entity/i00073/">Josephus Reinerus Walters</a> (mijn opa aan moederszijde)</li>
  </p>
</PageLayout>
