---
import PageLayout from "../layouts/PageLayout.astro";
import Searchbar from "../components/Searchbar.astro";
---

<PageLayout title="Search" description="Lorem ipsum dolor sit amet">
  <h2>Search</h2>
  <p>Search for any title, description or post content</p>
  <Searchbar />
</PageLayout>
