---
import type { CollectionEntry } from "astro:content";
import Post from "./Post.astro";

interface Props {
  posts: CollectionEntry<"entity">[];
};

const { posts } = Astro.props;
---
<ul class="not-prose grid list-none gap-2 sm:gap-0 pl-0">
  {
    posts.map((post) => {
      return (
        <li class="px-4 py-3 sm:px-0">
          <Post post={post} />
        </li>
      );
    })
  }
</ul>
